@charset "UTF-8";

* {
	font-size: 13px;
}

h5 {
	font-family: '돋움', Helvetica, Arial, sans-serif !important;
}

.select_info {
	padding: 3px;
	-webkit-appearance: menulist;
}

.filebox {
	display: inline-block;
}

.filebox label {
	display: inline-block;
	padding: .5em .75em;
	color: #999;
	font-size: 13px;
	line-height: normal;
	vertical-align: middle;
	background-color: #fdfdfd;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
}

.filebox input[type="file"] { /* 파일 필드 숨기기 */
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.filebox label:hover {
	background: #f6f7f9;
}

.title_head {
	position: relative;
	background-color: #f6f7f9;
	border-radius: 2px 2px 0 0;
	height: 33px;
	background-color: #f6f7f9;
}

img.profile {
	display: block;
	float: left;
	top: 13px;
	vertical-align: middle;
	width: 50px;
	position: relative;
	margin-left: 15px;
}

.min_content {
	border-top: 1px solid #dddfe2;
	border-bottom: 1px solid #dddfe2;
	padding: 8px;
	background: #fff;
}

.insert {
	height: 100px !important;
	width: 80%;
	margin-left: 30px;
	border: none;
}

.min_foot {
	padding: 8px;
	background-color: #f6f7f9;
	border-radius: 2px 2px 0 0;
	height: auto;
}

.insert_btn {
	padding: 7px !important;
	margin: 0 !important;
	float: right;
}

;
.insert_btn {
	padding: 7px !important;
	margin: 0 !important;
	float: right;
}

h5.title {
	line-height: 30px;
	margin-left: 15px;
	color: #4b4f56;
	font-size: 12px;
	font-weight: bold;
}

.content {
	background: #f6f7f9;
	padding-bottom: 20px;
	height: auto;
	min-height: 250px;
}

.p_info {
	padding: 18px 7px 7px 7px;
}

.board_wrap {
	position: relative;
}

.board_content {
	padding: 0 10px 10px 10px;
	width: 470px;
	word-break: break-word;
	height: auto;
	min-height: 80px;
	overflow: auto;
}

.coment {
	background: #f6f7f9;
	padding-bottom: 20px;
	padding-top: 15px;
	position: relative;
	height: auto;
	min-height: 70px;
	border-bottom: 1px solid #dddfe2;
	border-top: 1px solid #dddfe2;
}

.c_wrap {
	display: flex;
	word-wrap: break-word;
	width: 390px;
	padding-left: 13px;
}

.c_info {
	font-weight: bold;
	display: block;
	margin-top: 4px;
	width: 72px;
	margin-right: 5px;
}

.c_content {
	word-wrap: break-word;
	width: 465px;
	border-radius: 18px;
	line-height: 16px;
	padding: 8px 10px;
	background: #fff;
}

.c_text {
	width: 356px;
	border: none;
}

.c_submit {
	height: 48px;
	width: 48px;
	right: 13px;
	position: absolute !important;
	top: 16px;
	padding: 0 !important;
}

.c_c_write {
	font-size: 13px !important;
	background: #fff !important;
	color: #222 !important;
	border: 1px solid #9c27b0;
	padding: 6px !important;
	position: absolute !important;
	left: 10px;
	top: 10px;
	width: 140px;
	border-radius: 4px !important;
}

.likey {
	background: #fff !important;
	color: #222 !important;
	border: 1px solid #9c27b0;
	border-radius: 5px;
	position: absolute !important;
	left: 150px !important;
	margin: 10px !important;
}

.likey_icon {
	text-align: left;
	padding-left: 8px;
}

em.likey_num {
	display: inline-block;
	padding-top: 4px !important;
	line-height: 20px;
	vertical-align: top;
	font-style: inherit;
}

.tag_wrap {
	width: 80%;
	display: inline-block;
}

a.tag {
	padding-right: 5px;
}

a.tag:hover {
	text-decoration: underline;
}

.btnA {
	cursor: pointer;
	border: none;
	background: none;
	color: #999;
	paddin-right: 2px;
}

.btnB {
	padding-left: 2px;
	border: none;
	background: none;
	color: #999;
	cursor: pointer;
	padding: 0;
	color: #999;
}

.friendList {
	width: 100%;
	height: 100%;
/* 	border: 2px solid black; */
}

.new-friend {
	width: 300px;
}

.f_title {
	padding-left:15px;
	line-height: 30px;
	color: #4b4f56;
	font-size: 12px;
	font-weight: bold;
	    position: relative;
    background-color: #f6f7f9;
    border-radius: 2px 2px 0 0;
    height: 33px;
    background-color: #f6f7f9;
    border-bottom:1px solid #dddfe2;
    margin-top: 0;
}

.f_info div .f_link>img {
	margin: 10px 10px 10px 10px;
	width: 50px;
	height: 50px;
	float: left;
	clear: both;
	display: block;
	
}

.f_info {
	width: 100%;
	height: 800px;
}

.f_name {
	display: inline-block;
	margin-top: 16px;
}

.f_info div {
	font-size: 15px;
	border: 1px solid #e2e2e2;
	height: 80px;
	margin: 5px;
	position: relative;
	width: 95%;
}

.f_info div:hover {
	background: pink;
}

.friendInfo {
	font-size: 12px;
	margin: 0;
}

.request {
	padding: 3px 6px;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	float: right;
	margin-right: 15px;
}

.request:active { /*마우스를 눌렀을때*/
	box-shadow: 0 3px 5px rgba(0, 0, 0, .125) inset;
}

.request:focus, #request:hover {
	color: #333;
	text-decoration: none;
}

div.login {
	display: block;
	width: 15px;
	height: 15px;
	background: gray;
	float: right;
	margin-top: 18px;
	margin-right: 20px;
	border-radius: 20px;
}

div.login-in {
	background: green;
}

div.login-in:hover {
	background: green;
}

.f_info>div {
	float: left;
}

.f_btn {
	float: left;
}

hr {
	clear: both;
}

.f_serch {
	padding: 7px;
	float: right;
}

.f_search input {
	width: 300px;
	height: 20px;
	float: left;
	margin-right: 10px;
}

.f_title>p {
	float: left;
	margin-top: 7px;
	margin-left: 7px;
}

.serch-choice {
	width: auto;
	height: 24px;
}

.serch-choice select {
	float: right;
	margin-right: 7px;
	clear: both;
}

.request-text {
	width: 100px;
}

.request-info>div {
	float: none;
}